body{
    margin: 0%;
    padding-top: 0%;
}
h1{
    text-align: center;
    font-family: "highgate", sans-serif;
    font-weight: 800;
    font-size: 75px;
}

p{
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}
.top_title{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    padding-top: 0%;
}

.audio_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-right: auto;
    margin-left: 150px;
    vertical-align: top;
}

.audio_box{
    text-align: center;
    box-shadow: 10px;
    border-radius: 15px;
    margin: 3%;
    padding: 2%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 600px;
}

.scripture{
    font-size: 25px;
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}